<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dataset" value="..\..\..\..\data\final\en_US\en_US.all.txt"/>
    <add key="outputFolder" value="..\..\..\..\data\final\en_US\"/>
  </appSettings>
</configuration>